<% include ./include/header %>

<div class="container">
    <ul class="media-list">
        <%
        articles.forEach(function(article){
        %>
        <li class="media" style="border: 1px solid deepskyblue; border-radius: 10px; padding: 20px;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%=article.user.avatar%>" alt="" width="30" height="30" />
                    <%=article.user.username%>
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="/article/detail/<%=article._id%>"><%=article.title%></a></h2>
                <p class="media-left"><%- article.content%></p>
                <p class="media-right"></p>
                <%if(article.img){%>
                <img src="<%=article.img%>" style="width:100px;height:100px" alt=""/>
                <%}%>
            </div>
            <div class="media-bottom">
                发表时间:<%=article.createAt.toLocaleString()%>
                阅读：<%= article.pv %>
            </div>
        </li>
        <%
        });
        %>
    </ul>

    <nav>
        <ul class="pagination">
            <%
            for(var i=1;i<=totalPage;i++){
                if (i == pageNum) {
            %>
            <li class="active"><a href="/article/list/<%=i%>/<%=pageSize%>"><%=i%></a></li>
            <%
                } else {
            %>
            <li><a href="/article/list/<%=i%>/<%=pageSize%>"><%=i%></a></li>
            <%
                }
            }
            %>
        </ul>
    </nav>
</div>

<% include ./include/footer %>